<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nj02all01.baidupcs.com/file/d2f319b41873b1899c75f8c8109525c9?bkt=p2-nj02-950&amp;fid=890611074-250528-189087740458865&amp;time=1440086471&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-L92p8zStS%2Basfkqq9ia3Hyl0Y88%3D&amp;to=nj2hb&amp;fm=Nan,B,T,t&amp;sta_dx=5&amp;sta_cs=0&amp;sta_ft=ipa&amp;sta_ct=0&amp;fm2=Nanjing02,B,T,t&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400d2f319b41873b1899c75f8c8109525c9c92d476c0000005330e2&amp;sl=76808271&amp;expires=8h&amp;rt=pr&amp;r=300629748&amp;mlogid=1022108185&amp;vuk=890611074&amp;vbdid=3758326407&amp;fin=Bestie.ipa&amp;fn=Bestie.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<string>YES</string>
					<key>url</key>
					<string>http://nj02all01.baidupcs.com/file/3f0be88390c50abb6d157543f3437593?bkt=p2-nj02-950&amp;fid=890611074-250528-1018988725982296&amp;time=1440081964&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-wfUnnPHXF%2FYWd38yUCUwvuDeYFY%3D&amp;to=nj2hb&amp;fm=Nan,B,T,t&amp;sta_dx=0&amp;sta_cs=0&amp;sta_ft=png&amp;sta_ct=0&amp;fm2=Nanjing02,B,T,t&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=14003f0be88390c50abb6d157543f3437593105f384400000000425b&amp;sl=79953999&amp;expires=8h&amp;rt=pr&amp;r=363836653&amp;mlogid=909142589&amp;vuk=890611074&amp;vbdid=3758326407&amp;fin=icon%402x.png&amp;fn=icon%402x.png&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://qd.poms.baidupcs.com/file/a6bc840b08c2faca5ea327a268a60c87?bkt=p2-nj02-950&amp;fid=890611074-250528-44963724401222&amp;time=1440082109&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-FSm7KpX80TbCoaXPUrHNIKg4uf8%3D&amp;to=qb&amp;fm=Nan,B,T,t&amp;sta_dx=0&amp;sta_cs=0&amp;sta_ft=png&amp;sta_ct=0&amp;fm2=Nanjing02,B,T,t&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=1400a6bc840b08c2faca5ea327a268a60c878b6a0b9b000000001db5&amp;sl=79953999&amp;expires=8h&amp;rt=pr&amp;r=861683442&amp;mlogid=3651782417&amp;vuk=890611074&amp;vbdid=3758326407&amp;fin=icon.png&amp;fn=icon.png&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zzpb.meihoiu</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>为呵护女性而生</string>
				<key>title</key>
				<string>魅后</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
